<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase-auth-client.js'></script>
    <SocketStream/>
    <title>Welcome</title>
  </head>
  <body>
    <div class='login-error'></div>
    <div id="content">

      <a href='#logout' class='button btn hide' >Logout</a>
      <a href='#' data-login='twitter' class='button btn hide btn-primary' >Login with twitter</a>

      <h1>Welcome <span class='user'></span> to your new realtime app!</h1>

      <!-- QUICK CHAT DEMO-->
      <form id="demo" onsubmit="return false">
        <h3>Quick Chat Demo</h3>
        <h5>Open this page in multiple tabs or browsers and type a message below</h5>
        <div id="chatlog"></div>
        <input id="myMessage" type="text" autocomplete="off">
      </form>
    </div>
  </body>
</html>
